#pillar
serenity:
  # Load balancer IP
  master_lb: <LB IP>
  quorum: 2
  zookeeper_cluster_size: 3
  dns:
    resolvers:
      - <RESOLVER>
    fallback: <FALLBACK>

  #cluster_name: mesos
  # Setup existing mesos path:
  #mesos_master_service_name: mesos-master
  #mesos_slave_service_name: mesos-slave
  #master_conf_path: /etc/mesos/mesos-master
  #slave_conf_path: /etc/mesos/mesos-slave
  #marathon_service_name: marathon
  #libmesos_path: /usr/lib/
  #mesos_slave_bin_path: /sbin/
  # If none then salt will create new mesos services with Serenity enabled.
  # If actual mesos service option is present then it will try to configure existing cluster.

  # Place mesos/serenity build here (serenity .so in lib/)
  # build_root: salt://serenity/build/mesos_latest
  resource_estimator: com_mesosphere_mesos_SerenityEstimator
  qos_controller: com_mesosphere_mesos_SerenityController
  executor_env_json: /opt/serenity/mesos/etc/mesos-executor.json

  marathon:
    logging_level: INFO

  # List of environment variables to be set on node in form:
  # env_vars: [ INFLUX_DB_PATH=<..>, ANOTHER_VAR=<...>]
  env_vars: []

  # Path to internal docker registry.
  # insecure_docker_registry: <host1>

# Uncomment that if you need change the defaults:
#  mesos:
#    version: 0.27.0
#    master:
#      log_dir: /var/log/mesos
#      work_dir: /var/lib/mesos/master
#      zk: zk://127.0.0.1:2181/mesos
#      roles: slave_public
#      webui_dir: /usr/local/share/mesos/webui
#      registry_fetch_timeout: 5hrs
#      sasl_path: ?

#    slave:
#      launcher_dir: /usr/local/lib/mesos
#      log_dir: /var/log/mesos
#      work_dir: /var/lib/mesos/slave
#      master: zk://leader.mesos:2181/mesos
#      containerizers: docker,mesos
#      executor_registration_timeout: 30mins
#      isolation: cgroups/mem,cgroups/cpu,cgroups/perf_event
#      resources: ports:[1025-2180,2182-3887,3889-5049,5052-8079,8082-8180,8182-65535]
#      subsystems: cpu,memory
#      perf_events: cycles,instructions,
#      perf_events: cycles,instructions,intel_cqm/llc_occupancy/
#      perf_duration: 1secs
#      perf_interval: 5secs
#      oversubscribed_resources_interval: 15secs
#      resource_monitoring_interval: 1secs
#      qos_correction_interval_min: 0ns
#      modules: file:///opt/serenity/serenity.json.in
#      docker_remove_delay: 1hrs
#      gc_delay: 2days
#      executor_environment_variables: 
# These are already specified:
#      resource_estimator: com_mesosphere_mesos_SerenityEstimator
#      qos_controller: com_mesosphere_mesos_SerenityController

# Not used:
#    slave-public:
#      log_dir: /var/log/mesos
#      work_dir: /var/lib/mesos/slave-public
#      master: zk://leader.mesos:2181/mesos
#      containerizers: docker, mesos
#      executor_registration_timeout: 5mins
#      isolation: cgroups/cpu,cgroups/mem
#      resources: ports:[1-21,23-5050,5052-65535]
#      subsystems: cpu,memory
#      default_role: slave_public
#      attributes: public_ip:true
