[Unit]
Description=Mesos Master [Serenity branch]
[Service]
Restart=always
StartLimitInterval=0
RestartSec=15
EnvironmentFile=/opt/serenity/mesos/etc/environment
EnvironmentFile=/opt/serenity/mesos/etc/serenity-mesos-master
EnvironmentFile=/opt/serenity/mesos/etc/cloudenv
#ExecStartPre=/opt/serenity/mesos/sbin/exhibitor_wait.py $ZOOKEEPER_CLUSTER_SIZE
ExecStart=/opt/serenity/mesos/sbin/mesos-master
