[Unit]
Description=Serenity Marathon
After=serenity-mesos-master.service
Requires=serenity-mesos-master.service
[Service]
Restart=on-failure
EnvironmentFile=/opt/serenity/mesos/etc/environment
EnvironmentFile=/opt/serenity/mesos/etc/cloudenv
EnvironmentFile=/opt/serenity/mesos/etc/serenity-marathon
ExecStart=java -jar "/opt/serenity/marathon/usr/marathon.jar" --logging_level "$MARATHON_LOGGING_LEVEL" --zk zk://localhost:2181/marathon --master zk://localhost:2181/mesos --hostname "$MARATHON_HOSTNAME" --default_accepted_resource_roles "serenity" --mesos_role "serenity" --task_launch_timeout "$MARATHON_TASK_LAUNCH_TIMEOUT"